<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Dischi Milestone 2</title>
</head>
<body>
   <div id="app">

    <header>
        <div class="header-container">
            <figure class="logo-wrapper">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Spotify.png/600px-Spotify.png" alt="">
            </figure>
        </div> 
    </header>

    <main>
        <div class="main-container">

            <div class="all-albums">
                <h3 class="album-genre">Albums</h3>

                <ul class="cards-container">
                    <li class="card-wrapper" v-for="album in albums">
                        <figure class="poster">
                            <img class="poster-img" :src="album.poster" alt="">
                        </figure>
                
                        <div class="album-info">
                            <h4 class="title">
                                {{album.title}}
                            </h4>
                            <div class="author">
                                {{album.author}}
                            </div>
                            <div class="genre">
                                {{album.genre}}
                            </div>
                            <div class="year">
                                {{album.year}}  
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="metal genre-container">
                <h3 class="album-genre">Metal</h3>

                <ul class="cards-container">
                    <li class="card-wrapper" v-for="album in metal">
                        <figure class="poster">
                            <img class="poster-img" :src="album.poster" alt="">
                        </figure>
                
                        <div class="album-info">
                            <h4 class="title">
                                {{album.title}}
                            </h4>
                            <div class="author">
                                {{album.author}}
                            </div>
                            <div class="genre">
                                {{album.genre}}
                            </div>
                            <div class="year">
                                {{album.year}}  
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="rock genre-container">
                <h3 class="album-genre">Rock</h3>
    
                <ul class="cards-container">
                    <li class="card-wrapper" v-for="album in rock">
                        <figure class="poster">
                            <img class="poster-img" :src="album.poster" alt="">
                        </figure>
                
                        <div class="album-info">
                            <h4 class="title">
                                {{album.title}}
                            </h4>
                            <div class="author">
                                {{album.author}}
                            </div>
                            <div class="genre">
                                {{album.genre}}
                            </div>
                            <div class="year">
                                {{album.year}}  
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="pop genre-container">
                <h3 class="album-genre">Pop</h3>
    
                <ul class="cards-container">
                    <li class="card-wrapper" v-for="album in pop">
                        <figure class="poster">
                            <img class="poster-img" :src="album.poster" alt="">
                        </figure>
                
                        <div class="album-info">
                            <h4 class="title">
                                {{album.title}}
                            </h4>
                            <div class="author">
                                {{album.author}}
                            </div>
                            <div class="genre">
                                {{album.genre}}
                            </div>
                            <div class="year">
                                {{album.year}}  
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="jazz genre-container">
                <h3 class="album-genre">Jazz</h3>
    
                <ul class="cards-container">
                    <li class="card-wrapper" v-for="album in jazz">
                        <figure class="poster">
                            <img class="poster-img" :src="album.poster" alt="">
                        </figure>
                
                        <div class="album-info">
                            <h4 class="title">
                                {{album.title}}
                            </h4>
                            <div class="author">
                                {{album.author}}
                            </div>
                            <div class="genre">
                                {{album.genre}}
                            </div>
                            <div class="year">
                                {{album.year}}  
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div> <!-- fine main-container -->
    </main>

   </div> 

   <script src="script.js"></script>
</body>
</html>